
:root {
  --background-color: #fff;
  --text-color: #000; 
  font-size: 62.5%;
  /*Z tym fontsize jest fajna sztuczka bo statystycznie najczesciej mamy fontsize 60 i to nam sie bedzie skalowalo ladnie*/

  --link-color: #1a0dab;
  --link-hover-color: #551a8b;
}

[data-theme="dark"] {
  --background-color: #3F3F3F;
  --text-color: #fff;
  --link-color: #8ab4f8; 
  --link-hover-color: #bb86fc;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000; 
  --link-color: #1a0dab;
  --link-hover-color: #551a8b;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-family: motserrat; */
  transition: background 0.2s linear;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: orange; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}
main {
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}


section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}



form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}


input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
label,
button {
  margin-top: 1rem;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    /* font-size: 0.75rem; */
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
      opacity: 0;
    }

  100% {
    transform: translateY(100%) ;
    opacity: 0;
  }
}

.btn {
  padding: 1em 3em;
  border-radius: 3em;
  background: white;
  border: 1px solid currentColor;
  cursor: pointer;
  box-shadow: 0 0 25px -10px currentColor;
  transition: transform 125 ms ease-in;
}

.btn:hover,
.btn:focus {
  transform: scale(1.2);
}

@supports selector(:focus-visible){
  .btn:focus {
    transform: scale(1);
  }

  btn:focus-visible {
    outline-offset: 0.5rem;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}


/* mode change settings */
.theme_toggle {
  position: fixed;
  top: 10px;
  right: 10px;
}

.label_toggle {
  display: flex;
  background-color: #000;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.moon {
  display: flex;
  background-color: #000;
  height: 18px; /* Zmniejszamy rozmiar */
  width: 18px;  /* Zmniejszamy rozmiar */
  border-radius: 50%;
  border: 3px solid #000;
  box-shadow: inset 5px -2px #f1c40f, inset 10px 5px 1px 1px #000;
  -moz-box-shadow: inset 0px 10px #000, inset 0px 10px 1px 1px #000;
}

.sun {
  background: #f1c40f;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}

.ball {
  background-color: white;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox_swype {
  opacity: 0;
  position: absolute;
}

.checkbox_swype:checked + .label_toggle .ball {
  transform: translateX(26px); /* Zwiększamy przesunięcie */
}
